 ul.menu {
    list-style: none;
 }

 ul.menu li {
 	display: inline-block;
    float: left;
    margin-left: 10px;
    margin-bottom: 2em;
 }

 ul.menu li a img {
 	border: 5px solid gray;
 }

  ul.menu li a img.active {
 	border: 5px solid green;
 }

.main {
	clear: both;
}

.blue{color:blue;}

.green{
	color:green;
    background: #deea27;
}

.red{color:red;}

.block_chart{
    float: left;
    margin-right: 10px;
}