 ul {
    list-style: none;
 }

 ul li {
 	display: inline-block;
    float: left;
    margin-left: 10px;
    margin-bottom: 2em;
 }

 ul li a img {
 	border: 5px solid gray;
 }

.main {
	clear: both;
}

.blue{color:blue;}

.green{color:green;}

.red{color:red;}

.block_chart{
    float: left;
    margin-right: 10px;
}